.logoHeader {
  display: flex;
  justify-content: center; }
  .logoHeader img {
    width: 180px;
    height: 160px;
    margin-bottom: 30px;
    margin-top: 15px; }

.edit-nav {
  background-color: #FBE3D9; }

.dropdown-menu {
  background-color: #FBE3D9; }
  .dropdown-menu .dropdown-menu i {
    padding-right: 10px; }
    .dropdown-menu .dropdown-menu i .dropdown-menu a:hover {
      background-color: transparent;
      text-decoration: underline; }

.btn {
  color: #5C5D60;
  outline: 1px solid #5C5D60; }

.containerCarousel {
  margin-top: 30px;
  width: 100%;
  height: 100%; }
  .containerCarousel img {
    width: 100%;
    height: 100%; }

.tituloCard1 {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center; }
  .tituloCard1 h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold; }

.containerCards1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .containerCards1 .card {
    margin: 10px; }
    .containerCards1 .card img {
      border-bottom: 1px solid lightgray;
      width: 238px;
      height: 299px; }

.containerCards1 .card:hover {
  cursor: pointer; }

.tituloCard2 {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center; }
  .tituloCard2 h1 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold; }

.logosMarcas {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px; }
  .logosMarcas img:hover {
    cursor: pointer; }

.containerCards2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .containerCards2 .card {
    margin: 10px; }
    .containerCards2 .card img {
      border-bottom: 1px solid lightgray;
      width: 238px;
      height: 299px; }

.containerCards2 .card:hover {
  cursor: pointer; }

.tituloPagos h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold; }

.logosPagos {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

.footer-grid, .gridContainerFooter {
  display: grid;
  grid-template-areas: "navFooter navFooter" "botonTop botonTop";
  background-color: #FBE3D9; }

.footer-nav, .navFooter {
  grid-area: navFooter;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  padding-top: 15px; }

.titulos, .navFooter h2 {
  color: #5C5D60;
  font-size: 25px; }

.columna-datos, .datosInstitucionales, .datosAyuda, .datosRedesSociales, .datosAtencionAlCliente {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.enlaces, .datosInstitucionales a, .datosAyuda a, .datosRedesSociales a, .datosAtencionAlCliente a {
  margin-top: 5px;
  color: #5C5D60; }

.decoracion-enlaces, .institucional a, .ayuda a, .redesSociales a, .atencionAlCliente a {
  text-decoration: none; }

.enlaces-after, .datosInstitucionales a:hover, .datosAyuda a:hover, .datosRedesSociales a:hover, .datosAtencionAlCliente a:hover {
  text-decoration: underline; }

.boton, .botonTop {
  grid-area: botonTop;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: end;
  margin-right: 130px;
  margin-bottom: 15px; }

.edit-boton, .botonTop .fa-solid {
  color: #5C5D60;
  font-size: 35px; }

.navFooterAcordeon {
  display: none; }

.footer-grid, .gridContainerFooter {
  display: grid;
  grid-template-areas: "navFooter navFooter" "botonTop botonTop";
  background-color: #FBE3D9; }

.footer-nav, .navFooter {
  grid-area: navFooter;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  padding-top: 15px; }

.titulos, .navFooter h2 {
  color: #5C5D60;
  font-size: 25px; }

.columna-datos, .datosInstitucionales, .datosAyuda, .datosRedesSociales, .datosAtencionAlCliente {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.enlaces, .datosInstitucionales a, .datosAyuda a, .datosRedesSociales a, .datosAtencionAlCliente a {
  margin-top: 5px;
  color: #5C5D60; }

.decoracion-enlaces, .institucional a, .ayuda a, .redesSociales a, .atencionAlCliente a {
  text-decoration: none; }

.enlaces-after, .datosInstitucionales a:hover, .datosAyuda a:hover, .datosRedesSociales a:hover, .datosAtencionAlCliente a:hover {
  text-decoration: underline; }

.boton, .botonTop {
  grid-area: botonTop;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: end;
  margin-right: 130px;
  margin-bottom: 15px; }

.edit-boton, .botonTop .fa-solid {
  color: #5C5D60;
  font-size: 35px; }
